/* frontend/src/App.css */

body {
  background-color: #333; /* actual background */
  color: #fff; 
  font-family: Arial, sans-serif; /* font */
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.search-bar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  background-color: #555; /* input field */
  color: #fff; /*  text input  */
  border: none; 
}

.search-bar button {
  padding: 10px 20px;
  background-color: #444; /* button background */
  color: #fff; /* text */
  border: none; 
  cursor: pointer; 
}

.results-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.result-box {
  width: 30%;
  padding: 10px;
  background-color: #ffffff; 
  border: 1px solid #ffffff; 
  box-shadow: 0 0 10px #ffffff; 
}

.result-box h3 {
  border-bottom: 1px solid #555; 
}