/* frontend/src/App.css */

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
  margin-top: 20px;
  background-color: #333; 
}

table, th, td {
  border: 4px solid #333;
  
}

th, td {
  padding: 2px;
  text-align: left;
  font-size: 13px;
}

th {
  background-color: #868686;
}

td:hover {
  background-color: #45a049; 
}

.classifications-container {
  font-family: 'Arial', sans-serif;  
  font-size: 16px;               
  color: #d4d4d4;                   
  background-color: #4d4d4d;         
  padding: 1px;                 
  padding-right: 35px;
  padding-left: 35px;
  border-radius: 60px;             
  margin: 0px 0;               
}

.classifications-container:hover {
  background-position: 100% 0;
  background: linear-gradient(135deg, #868686, #4d4d4d, #a9a9a9, #666666); 
  background-size: 400% 400%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


.button {
  background-color: #4d4d4d;
  border: none;
  color: #e0e0e0; 
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.button:hover {
  background-color: #45a049;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


/*-----------------------------------------------------------------------------*/

table td button {
  background-color: #4CAF50; 
  color: white; 
  border: none;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 4px; 
  transition: background-color 0.3s; 
}

table td button:hover {
  background-color: #45a049; 
}

/*=======================================================================================*/

body {
  background-color: #333; /* actual background */
  color: #fff; 
  font-family: 'Times New Roman', Times, serif, sans-serif; 
}


.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.search-bar {
  margin-top: 22px;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  background-color: #555; /* input field */
  color: #fff; /*  text input  */
  border: none; 
  border-radius: 20px; 
}

.search-bar button {
  padding: 10px 20px;
  background-color: #444; /* button background */
  color: #fff; /* text */
  border: none; 
  cursor: pointer; 
  border-radius: 20px; 
}

.results-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.result-box {
  width: 30%;
  padding: 10px;
  background-color: #7c7c7c; 
  border: 1px solid #7c7c7c; 
  box-shadow: 0 0 10px #7c7c7c; 
}

.result-box h3 {
  border-bottom: 1px solid #555; 
}